.container {
    width: 90%;
    margin: 3rem auto;
    padding: 15px;
}

.space {
    background-color: transparent;

    &.sm {
        height: 5rem;
    }
   
    &.md {
        height: 10rem;
    }

    &.lg {
        height: 15rem;
    }
}