.btn {
    position: relative;
    font-family: Lato;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    height: 34px;
    padding: 0 23px;
    border-radius: 10px;
    text-align: center;
    // border: 1px solid transparent;
    line-height: inherit;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    // Primary
    &-primary {
        background-color: $black;
        background: linear-gradient(48deg, rgba(159, 21, 32, 1) 0%, rgba(121, 16, 24, 1) 100%);

        &:focus {
            box-shadow: 0 0 0 .3rem mix(white, $black, 55%);
            background-color: mix(black, $black, 10%);
        }

        &:hover {
            background-color: mix(black, $black, 10%);
        }

        &:disabled {
            background-color: mix(white, $black, 45%);
            cursor: auto;
        }

        // Primary Outline
        &-outline {
            background-color: transparent;
            color: $black;
            border: 1px solid $black;

            &:focus {
                box-shadow: 0 0 0 .3rem mix(white, $black, 55%);
                background-color: $black;
                color: #fff;
            }

            &:hover {
                background-color: $black;
                color: #fff;
            }

            &:disabled {
                background-color: mix(white, $black, 45%);
                cursor: auto;
                color: #fff;
            }
        }
    }

    // Secondary
    &-secondary {
        background-color: $black-light;

        &:focus {
            box-shadow: 0 0 0 .3rem mix(white, $black-light, 55%);
            background-color: mix(black, $black-light, 10%);
        }

        &:hover {
            background-color: mix(black, $black-light, 10%);
        }

        &:disabled {
            background-color: mix(white, $black-light, 45%);
            cursor: auto;
        }

        // Secondary Outline
        &-outline {
            background-color: transparent;
            color: $secondary;
            border: 1px solid $secondary;

            &:focus {
                box-shadow: 0 0 0 .3rem mix(white, $secondary, 55%);
                background-color: $secondary;
                color: #fff;
            }

            &:hover {
                background-color: $secondary;
                color: #fff;
            }

            &:disabled {
                background-color: mix(white, $secondary, 45%);
                cursor: auto;
                color: #fff;
            }
        }
    }

    &--floating {
        position: fixed;
        right: 3rem;
        bottom: 3rem;
        width: 6rem;
        height: 6rem;
        background: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #fff;
        font-size: 2.5rem;
        box-shadow: 1px 2px 7px rgba(0, 0, 0, .25);
        transition: background .25s;
        z-index: $z-floating-btn;

        &:active,
        &:hover {
            background: mix(black, $primary, 10%);
        }
    }

    // Gradients
    &--gradient-green {
        width: 15rem;
        background: linear-gradient(48deg, rgba(0, 209, 105, 1) 0%, #008643 100%);

        &:focus {
            box-shadow: 0 0 0 .3rem mix(white, #008643, 55%);
            background-color: mix(black, #008643, 10%);
        }

        &:hover {
            background-color: mix(black, #008643, 10%);
        }

        &:disabled {
            background-color: mix(white, #008643, 45%);
            cursor: auto;
        }
    }

    &--gradient-orange {
        width: 15rem;
        background: linear-gradient(48deg, rgba(237, 141, 108, 1) 0%, #f15d29 100%);

        &:focus {
            box-shadow: 0 0 0 .3rem mix(white, #f15d29, 55%);
            background-color: mix(black, #f15d29, 10%);
        }

        &:hover {
            background-color: mix(black, #f15d29, 10%);
        }

        &:disabled {
            background-color: mix(white, #f15d29, 45%);
            cursor: auto;
        }
    }

    &--gradient-red {
        width: 15rem;
        background: linear-gradient(48deg, rgba(236, 99, 105, 1) 0%, #ee1e27 100%);

        &:focus {
            box-shadow: 0 0 0 .3rem mix(white, #ee1e27, 55%);
            background-color: mix(black, #ee1e27, 10%);
        }

        &:hover {
            background-color: mix(black, #ee1e27, 10%);
        }

        &:disabled {
            background-color: mix(white, #ee1e27, 45%);
            cursor: auto;
        }
    }

    &--gradient-crimson {
        width: 15rem;
        background: linear-gradient(48deg, rgba(159, 21, 32, 1) 0%, #791018 100%);
        
        &:focus {
            box-shadow: 0 0 0 .3rem mix(white, #791018, 55%);
            background-color: mix(black, #791018, 10%);
        }

        &:hover {
            background-color: mix(black, #791018, 10%);
        }

        &:disabled {
            background-color: mix(white, #791018, 45%);
            cursor: auto;
        }
    }

    &--loading {
        .btn-text {
            visibility: hidden;
            opacity: 0;
        }

        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            border: 3px solid transparent;
            border-top-color: #fff;
            border-radius: 50%;
            animation: button-loading-spinner .8s ease infinite;
        }

        @keyframes button-loading-spinner {
            from {
                transform: rotate(0turn);
            }

            to {
                transform: rotate(1turn);
            }
        }
    }

    &--small {
        height: 30px;
        font-size: 14px;
        padding: 0 15px;
    }

    &--big {
        height: 52px;
        padding: 0 32px;
    }

    &--block {
        width: 100%;
    }

    &--round {
        border-radius: 2.8rem;
        transition: box-shadow .3s ease-in,transform .3s ease-in,-webkit-box-shadow .3s ease-in,-webkit-transform .3s ease-in,-moz-transform .3s ease-in;

        &:hover {
            transform: scale(1.01);
        }
    }
}