@import "../../sass/base/_variables.scss";

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    margin-bottom: 2rem;
    overflow: hidden;

    &__header {
        padding: 12px 20px;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    &__title {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 1.6rem;
    }

    &__name {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    &__body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 15px 20px;
        font-size: 1.3rem;
    }

    &__text {
        line-height: 1.5;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__link {
        color: $primary;
        text-decoration: none;
        background-color: transparent;

        &:hover {
            color: mix(black, $primary, 20%);
        }

        &+& {
            margin-left: 2rem;
        }
    }

    &__image {
        width: 100%;
        height: 15rem;
        background-size: cover;
        background-position: top;
    }

    &__cto {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-time {
            color: $black;
            font-weight: 700;
            font-size: 1.1rem;
        }

        &-price {
            color: $black;
            // color: $primary;
            font-size: 1.6rem;
            font-weight: 700;
        }
    }

    &--horizontal {
        .card__image {
            height: 100%;
            width: 40rem;
            background-position: right;
        }
    }

    // Heat level cards
    &--heat-level {
        display: inline-block;
        text-align: center;
        box-shadow: none;

        .card__image {
            width: auto;
            height: 18rem;
        }

        .card__text {
            font-size: 1.5rem;
            margin-bottom: 4rem;
        }
    }

    // Add to cart cards
    &--add-to-cart {
        text-align: center;
        padding: 2px 0;
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 10px 5px rgba(0, 0, 0, .02);
        transition: box-shadow .3s ease-in,transform .3s ease-in,-webkit-box-shadow .3s ease-in,-webkit-transform .3s ease-in,-moz-transform .3s ease-in;
    
        // &:not(:last-of-type) {
        //     margin-right: rem;
        // }

        &:hover {
            box-shadow: 0 2px 10px 5px rgba(0, 0, 0, .05);
            transform: scale(1.01);
            cursor: pointer;
        }

        .card__image {
            width: auto;
            height: 28rem;
        }

        .card__body {
            padding-top: 5px;
        }
    }
}