@import "../../sass/base/_variables.scss";

.heading {
    position: relative; 
    padding: 3rem 1rem;
    display: inline-block;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    &__accent, &__text {
        position: relative;
        font-size: 3rem;
        font-weight: 600;
    }
    
    &__accent { 
        color: $primary;
        font-weight: 700;
    }

    &__image {
        position: absolute;
        top: -34px;
        left: 17px;
        height: 9em;
        transform: rotate(-25deg);
        opacity: .2;
    }
}