// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'oracle';
    src: url('./assets/Oracle/Oraqle\ Script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }  

// Base
@import "sass/base/_variables";
@import "sass/base/_reset";
@import "sass/base/_helpers";
@import "sass/base/_layout";

// Elements
@import "components/elements/Card.scss";
@import "components/elements/Button.scss";
@import "components/elements/Navbar.scss";
@import "components/elements/Heading.scss";


